

.login {
  width: 100%;
  height: 100vh;
  background: url('./images/bg.jpg') no-repeat center center;
  background-size: cover;

  display: flex;
  justify-content: center;

  .content {
    width: 500px;
    height: 300px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, .2);
    padding: 20px;
    .logo {
      width: 50px;
    }
    .title {
      color: #FFFFFF;
      font-size: 16px;
      margin-top: 12px;
      margin-bottom: 30px;
    }
  }

  
}